{% extends 'userbasetable.html' %}
{% load static %}
{% block content %}

			</nav>		<div class="content-wrapper">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-12">

						<h2 class="page-title">Complaint Reply</h2>

						<!-- Zero Configuration Table -->
						<!-- <div class="panel panel-default">
							<div class="panel-heading">Bookings Info</div>
							<div class="panel-body"> -->
															<table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
										
											<th>Complaint Description</th>
											<th>Complaint</th>
											<th>Reply</th>
											
											
										</tr>
									</thead>
									
									<tbody>
										{% for x in ww.values %}

											<tr>

											<td>{{x.Complaint_description}}</td>
											<td>{{x.Complaint}}</td>
											<td>{{x.Complaint_Reply}}</td>
											
											
											</tr>
											{% endfor %}
	</div>

	</div>


	</div>

{% endblock %}