{% extends 'ad_menu.html' %}
{% load static %}
{% block content %}
</nav>		<div class="content-wrapper">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-12">

						<h2 class="page-title">View Staff</h2>

						<!-- Zero Configuration Table -->
						<div class="panel panel-default">
							<div class="panel-heading">Staff Info</div>
							<div class="panel-body">
															<table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
									<thead>
										<tr>
										<th>#</th>
											<th>Name</th>
											<th>Address</th>
											<th>Gender</th>
											<th>Dob</th>
											<th>Phone Number</th>
											<th>Username</th>
											<th>Email</th>
											
											

										</tr>
									</thead>
									
									<tbody>
										{% for x in rr.values %}

																			<tr>

											<td>{{x.id}}</td>
											<td>{{x.Name}}</td>
											<td>{{x.address}}</td>
											<td>{{x.gender}}</td>
											<td>{{x.dob}}</td>
											<td>{{x.Phoneno}}</td>
											<td>{{x.Username}}</td>
											<td>{{x.Email}}</td>
											
											
										
										
											{% endfor %}


	</div>

	</div>


	</div>






{% endblock %}